* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div .hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr .5fr .5fr;
  margin-top: 40px;
  position: relative;
  
}
.profile img {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  
  
}
div .hero-section .profile {
  font-size: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 0;

}
div .hero-section .text-muted {
  margin-right: 5px;
}


#statement {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  margin: 0px 5px 5px 50px;
}
div .support-tagline .name {
  color: red;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: black;
}
div .support-taglo .job{
  font-size: 25px;
}
aside .logo {
  display: flex;
  justify-content: center;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.logo-container img{
  width: 15px;
  display: flex;


 
}




*/
/* Desktop Devices */
/*
@media screen and (min-width: 961px) {
}*/
/*
@media screen and (min-width: 401px) and (max-width: 960px) {
}

@media screen and (max-width: 401px) */
  
