* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.hero-section {
  margin: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Caveat", cursive;
}
.hero-section .support-tagline {
  text-align: center;
  font-size: 15px;
}
.hero-section .support-tagline .name {
  font-size: 25px;
}

.job {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  border-top: 2px solid rgb(48, 228, 156);
  border-bottom: 2px solid rgb(48, 228, 156);
  color: black;
}
.description {
  color: black;
  text-align: center;
  margin-top: 10px;
}
.logo-container {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo-container img {
  width: 30px;
}
.card-container {
  margin: 40px 10px;
  text-align: center;
  gap: 10px;
}
h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: bold;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
  text-decoration: none;
  flex-direction: column;
}
.skills ul li {
  list-style: none;
  font-family: "Caveat", cursive;
  list-style-type: none;
}
footer {
  background-color: grey;
}
